* {
  margin: 0;
}
nav img {
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li {
  margin-right: 15px;
  font-size: 18px;
}

.menu {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
}

#mode {
  width: 30px;
  height: 30px;
  padding: 10px;
  cursor: pointer;
}
